main {
    color: #fff;
}

.upper-content {
    background-color: $darkgray;
    padding: 4rem 0;

    .card-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 2rem;

        .comics-card {
            flex-basis: calc(100% / 6);
            padding: 20px;

            .comic-image {
                height: 300px;
                object-fit: cover;

            }

            h1 {
                font-size: 20px;
                margin-top: 15px;
            }
        }
    }
}

.lower-content {
    background-color: #0282F9;
    display: flex;
    justify-content: space-around;
    align-items: center;

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;

        li:last-child img {
            height: 40px;
        }

        li {
            text-transform: uppercase;
            font-weight: 300;
            font-size: 16px;
            color: #fff;
            display: flex;
            align-items: center;
            padding: 3rem;
            cursor: pointer;

            img {
                height: 60px;
                margin-right: 10px;
            }
        }
    }
}